// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/dist/css/bootstrap.css';
// @import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.css';

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



// .invalid-feedback {
//      width: 100% !important;
//      margin-top: 0.25rem !important;
//      font-size: 80% !important;
//      color: #e3342f !important;
//  }
// .home.router-link-exact-active {
//     background-color: #fd7e1791;
//     color: #fcfcfc !important;
// }
// 
// .router-link-exact-active {
//     background-color: #fd7e1791;
//     color: #767e85 !important;
// }


.table {
     width: 100%;
 }
 .table .sorting_both {
     background-image: url("/images/sort_both.png");
     background-repeat: no-repeat;
     background-position: 100%;
 }
 .table .sorting_up {
     background-image: url("/images/sort_asc.png");
     background-repeat: no-repeat;
     background-position: 100%;
 }
 .table .sorting_down {
     background-image: url("/images/sort_desc.png");
     background-repeat: no-repeat;
     background-position: 100%;
 }
//  h1 {
//      text-align: center;
//      font-size: 30px;
//  }

